@import "tailwindcss";

@theme {
  /* background colors */
  --color-primary: #123469;
  /* Main buttons, navigation bars, input outlines */

  /* hover state */
  --color-hover-primary: #184080;
  --color-hover-secondary: #2a5baa;

  /* text colors */
  --color-text-primary: #181d27;
  /* Current page in breadcrumbs */
  --color-text-secondary: #414651;
  --color-text-placeholder: #717680;
  --color-text-accent: #535862;

  /* border colors */
  --color-accent-500: #4763e4;
  /* Searchbar borders, interactive element highlights */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a.active {
  background-color: #1a46e4;
}

button {
  cursor: pointer;
}

/* scrollbar styles */

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tailwind gray-100 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: oklch(54.6% 0.245 262.881 / 0.6) ; /* Tailwind purple-400 */
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: oklch(54.6% 0.245 262.881 / 0.6) ; /* Tailwind purple-500 */
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: oklch(54.6% 0.245 262.881 / 0.6)  #f3f4f6;
}

/* scrollbar styles */

@layer base {
  main {
    @apply h-screen w-screen overflow-hidden flex flex-col;
  }
}
