@import "tailwindcss";

@theme {
  /* background colors */
  --color-primary: #123469;
  /* Main buttons, navigation bars, input outlines */

  /* hover state */
  --color-hover-primary: #184080;
  --color-hover-secondary: #2a5baa;

  /* text colors */
  --color-text-primary: #181d27;
  /* Current page in breadcrumbs */
  --color-text-secondary: #414651;
  --color-text-placeholder: #717680;
  --color-text-accent: #535862;

  /* border colors */
  --color-accent-500: #4763e4;
  /* Searchbar borders, interactive element highlights */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a.active {
  background-color: #1a46e4;
}

button {
  cursor: pointer;
}

/* scrollbar styles */

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;
}

/* WebKit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

/* When hovered or focused (show scrollbar) */
.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar:focus::-webkit-scrollbar-thumb,
.custom-scrollbar:active::-webkit-scrollbar-thumb {
  background-color: oklch(54.6% 0.245 262.881 / 0.6);
}

/* Firefox fallback */
.custom-scrollbar:hover,
.custom-scrollbar:focus,
.custom-scrollbar:active {
  scrollbar-color: oklch(54.6% 0.245 262.881 / 0.6) transparent;
}

/* scrollbar styles */

/* symptoms styles */

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 14px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  overflow-y: auto;
  max-height: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  z-index: 10;
  border-radius: 5px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.suggestion-name {
  font-weight: bold;
  font-size: 14px;
}

.suggestion-synonyms {
  font-size: 10px;
  color: gray;
}

.selected-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}

.selected-item-header {
  display: flex;
  align-items: center;
  width: 100%;
}

/* symptoms styles */

/* table styles */
table tr th.sticky-col.location,
table tr td.sticky-col.location {
  position: sticky;
  left: 0;
  background: inherit;
  width: 200px;
  color: #6798c6;
}

table tr th.sticky-col.location {
  background-color: #eeeeee;
  color: #687395;
  z-index: 10;
}

table tr th.sticky-col.gene,
table tr td.sticky-col.gene {
  position: sticky;
  left: 200px;
  background: inherit;
  width: 200px;
  font-weight: bold;
  color: #6798c6;
}

table tr th.sticky-col.gene {
  background-color: #eeeeee;
  color: #687395;
  z-index: 10;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(odd) {
  background-color: white;
}

.custom-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.75 8.75l2.5 2.5 4.5-4.5' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120% 120%;
}

/* table styles */

@layer base {
  main {
    @apply h-screen w-screen overflow-hidden flex flex-col;
  }
}



/* Remove the stupid spinners from the number input type */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* General styling to maintain consistent appearance */
input[type="number"] {
  appearance: textfield;
}